extends layout

block additional_css
  link(rel='stylesheet', href='/stylesheets/index.css')

block content
  main(class="main")
    article(class="article")
      div(class="article__imgdiv")
        img(src="/static_images/login/ad.png" class="article__imgdiv__img")
      div(class="article__content")
        div(class="article__content__top")
          div(class="article__content__top__div")
            div(class="article__content__top__div__div")
              img(src="/static_images/logo_img.png" class="article__content__top__div__div__img")
            div(class="article__content__top__div__loginForm")
              form(action="/login/signin", method="POST" class="input__form")
                div(class="input__div")
                  div(class="input__div__div") 
                    input(type="text" name="account_name" class="input__text")
                div(class="input__div")
                  div(class="input__div__div")  
                    input(type="password" name="pwd" class="input__text") 
                input(type="submit" value="로그인" class="input__submit")
              div(class="textOr__div")
                div(class="textOr__div__div")
                div(class="textOr__div__text") 또는
                div(class="textOr__div__div")
              div(class="facebook__div")
                button(class="facebook__div__button")
                  img(src="/static_images/login/facebook.png" class="facebook__div__button__img")
                  div(class="facebook__div__button__text") Facebook으로 로그인
              a(href="/" class="article__content__top__div__loginForm__a") 비밀번호를 잊으셨나요?
        div(class="article__content__bottom")
          div(class="article__content__bottom__div")
            div
              p 계정이 없으신가요?
                a(href="/login/signup" class="article__content__bottom__div__a")  가입하기 
        div(class="article__app-download")
          p(class="article__app-download__text") 앱을 다운로드 하세요
          div(class="article__app-download__img-div")
            img(class="article__app-download__img-div__img" src="/static_images/login/app-download.png")
      

