extends layout

block additional_css
  link(rel='stylesheet', href='/stylesheets/index.css')

block content
  main(class="main")
    article(class="article")
      div(class="article__div")
        div(class="article__imgdiv")
          img(src="/static_images/login/ad.png" class="article__imgdiv__img")
        div(class="article__content")

