extends layout

block additional_css
  link(rel='stylesheet', href='/stylesheets/signup.css')

block content
    form(action="/login/signup/process" method="POST")
        div
            input(type="text" placeholder="email" name="email")
        div
            input(type="text" placeholder="실명" name="name")
        div
            input(type="text" placeholder="아이디" name="account_name")
        div
            input(type="password" placeholder="비밀번호" name="pwd")
        div
            input(type="submit")
    