body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin : 0px;
}

a {
  color: black;
}

ul{
  margin:0px;
  padding:0px;
}


.border{
  border-radius: 3px;
  border:1px solid rgba(var(--b6a,219,219,219),1);
  margin-bottom: 40px;
  background-color: white;
}

.post_div{
  width:inherit;
}

.letter_div{
  padding: 0 14px;
  
}

.nav{
  z-index: 1;
  position: fixed;
  background-color: white;
  width: 100%;  
  height: 62px;
  border-bottom:1px solid rgba(var(--b6a,219,219,219),1);;
}

.nav ul li {
  list-style: none;
  float: left;
}

.nav ul {
  margin-top: 15px;
  margin-bottom: 3px;
  padding-left: 15px;
}

.nav .logo_img{
  width: 120px;
}

.nav .home_img{
  height:35px;
}

.nav .home_nav{
  position: fixed;
  right: 10px;
}

.index_section{
  position: relative;
  top: 62px;
  z-index: 0;
  padding-top: 50px;
  margin:0 auto;
  width: 600px;
}

main{
  background-color: rgba(var(--b3f,250,250,250),1);
  z-index: -1;
}

/*스토리*/
.story{
  height: 118px;
  width: inherit;
  background-color: white;
  border-radius: 3px;
  border: 1px solid rgba(var(--b6a,219,219,219),1);
  margin-bottom: 40px;
}

.story_sub{
  padding:10px 0;
}
.story img{
  height: 95px;
}

/*article 헤더 */

.post_header{
  height: 60px;
  background-color: red;
  border-bottom:1px solid rgba(var(--b6a,219,219,219),1);
}

.post_header div{
  height: 27px;
  padding: 16px;
}


.post_header ul li{
  list-style: none;
  float: left;
}

.profile_img{
  width:40px;
}